// $color: white;

.image {
    width: 45px;
  }

  .container-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 189, 88);
    width: 100%;
    height: 85px;
  }
  .div-image1, .div-image2, .div-image3{
    margin: 1px 20px 0px 60px;
    height: 70px;
    
  }

  a{
    text-decoration: none;
  }
  
  p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .div-image1:hover {
    background-color: rgb(248, 208, 139);
  
  }
  
  .div-image2:hover {
    background-color: rgb(248, 208, 139);
  
  }
  
  .div-image3:hover {
    background-color: rgb(248, 208, 139);
  
  }