<div class="container-menu">
    <div>
      <img src="../../../assets/LogoShopeame.jpeg" alt="logo_shopeame">
    </div>
    <div class="menu">
      <div class="div-image1">
      <a routerLink= "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../assets/nuc copia.png" alt="Imagen_Home"><p>Home</p>
      </a>
    </div>
    <div class="div-image2">
      <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../../assets/prismaticos copia.png" alt="Imagen_Productos"><p>Prods..</p>
      </a>
    </div>
    <div class="div-image3">
      <a routerLink="/gestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img class="image" src="../../../../assets/timon.png" alt="Imagen_Gestion"><p>Gestión</p>
      </a>
    </div>
    </div>
</div>
