<footer>
    <h5 class="social">Siguenos en:</h5>
    <div class="social__div">
        <ul class="social__redes">
        <li><a href="https://twitter.com/?lang=es" target="_blank">Twitter</a> |</li>
        <li><a href="https://es-es.facebook.com/" target="_blank">Facebook</a> |</li>
        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a> |</li>
        <li><a href="https://www.tiktok.com/es/" target="_blank">TikTok</a></li>
    </ul>
    </div>
    <p class="copy">Copyright Shopéame © {{years}}</p>
</footer>
