footer{
    text-decoration:none;
    height: 150px;
    font-family: arial;
    background-color: rgb(83, 83, 83);
    color:white
    }
    .social, .copy{
    display: flex;
    justify-content: space-around;
    }
    .social__redes{
        padding: 10px;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .social, li{
    margin: 3px;
    padding: 3px;
    }
    a{
    text-decoration: none;
    color:white;
    }