<div class="container">
    <div class="text-wrap">
      <h2 class="textHe">Bienvenido a Shopéame</h2>
      <div class="textos">
        <h3 class="text">¿Qué es Shopéame</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quidem facere ipsam, 
          soluta minus consectetur velit fugiat animi ab? Qui distinctio nostrum laboriosam consectetur totam, 
          nisi facilis laudantium exercitationem possimus.</p>
        <h3 class="text">Para qué puedo usar Shopéame</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur, 
          adipisicing elit. Fugit voluptates sequi ut? Dolorem ex aliquam aliquid,
           magnam consectetur nostrum ratione maiores ipsa quis nihil aut fugit deleniti dicta quibusdam corrupti.</p>
        <h3 class="text">¿Quiénes hacemos en Shopéame?</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum velit magni ducimus sint, 
          nemo autem ea optio animi? Quis fugiat saepe itaque voluptate quam molestias est repellendus repellat porro dicta?</p>
        <h3 class="text">¿Es seguro usar Shopéame?</h3>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis maiores ullam est praesentium consectetur quisquam,
           sapiente laboriosam quidem veritatis ipsum eum porro. Nisi optio at sit cum, ab animi labore.</p>
      </div>
    </div>
  </div>
  